extends container
block content
    | Admin #{admin} successfully created for you Account!
    br
    | Go to activation and set up yours new password.
    br
    | Push on button
    a(href=frontEndURL) #{newActionToken}
